<div class="result-block" id="tpb-block">

<% @results.each do |result| %>
<% info = result.xpath("td[not(@class='vertTh')]") %>
<div class="result-row">
<% @torrentName = info[0].css('a.detLink')[0]['title'].gsub('Details for', "").strip %>
<% @torrentUrl = "https://thepiratebay.org" << info[0].css('a.detLink')[0]['href'] unless @anon %>
<p><%= link_to_unless(@anon, @torrentName, @torrentUrl) %>&nbsp;&nbsp;<a id="mag-link" href="<%= info[0].css('.detName+ a')[0]['href'] %>">Magnet Link</a></p> 

<p><span id="tor-info"><%= info[0].css('font.detDesc')[0].text %></span>&nbsp;&nbsp;<span id="peer-stats">Seeders: <%= info[1].text %>&nbsp;&nbsp;Leechers: <%= info[2].text %></span></p>
</div>
<% end %>
</div>