<div class="result-block" id="yts-block">
<% @page_hash['data']['movies'].each do |res| %>
<% @torrentName = res['title'] %>
<% @torrentUrl = res['url'] %>
<div class="result-row">
<% res['torrents'].each do |info| %>
<% @infoHash = info['hash'] %>
<% @magnet = "magnet:?xt=urn:btih:#{@infoHash}&dn=Url+Encoded+Movie+Name&tr=http://track.one:1234/announce&tr=udp://track.two:80&tr=udp://open.demonii.com:1337/announce&tr=udp://tracker.openbittorrent.com:80&tr=udp://tracker.coppersurfer.tk:6969&tr=udp://glotorrents.pw:6969/announce&tr=udp://tracker.opentrackr.org:1337/announce&tr=udp://torrent.gresille.org:80/announce&tr=udp://p4p.arenabg.com:1337&tr=udp://tracker.leechers-paradise.org:6969" %>

<p><%= link_to_unless(@anon, @torrentName, @torrentUrl) %>&nbsp;&nbsp;<a id="mag-link" href="<%= @magnet %>">Magnet Link</a><%= info['quality'] %></p>
<p><span id="tor-info"><%= "Uploaded: " + info['date_uploaded'] + " Size: " + info['size']  %></span>&nbsp;&nbsp;<span id="peer-stats">Seeders: <%= info['seeds'] %>&nbsp;&nbsp;Peers: <%= info['peers'] %></span></p>
<% end %>
</div>
<% end %>
</div>