<%= render partial: "searchBar" %>
<br>
<hr>
<br>
<p class="tabs-bar"><%= link_to "TPB", "/results/all/1", id: "tpb-link", class: "tab"  %>&nbsp;&nbsp;<%= link_to "YTS", "/search/ytsall", :remote => true, id: "yts-link", class: "tab"  %>&nbsp;&nbsp;<%= link_to "ExtraTorrent", "/search/xtorall", :remote => true, id: "xtor-link", class: "tab"  %></p>
<div id="res-block"><%= render partial: "allTPB" %></div>


