<div class="engine-main">
<h1 class="heading-main">Torser</h1>
<h4 class="subhead-main">Torrent Search Engine</h4>
<%= form_tag('/search/processor') do %>
<p><%= search_field_tag('query') %></p>
<p><%= check_box_tag(:anonymous) %>
<%= label_tag(:anonymous, "Check, if your ISP is blocking links from torrent sites") %></p>
<p><%= submit_tag('Search') %></p>
<% end %>
</div>
