<div class="engine-result">
<h3 class="heading-result">Torser</h3>
<%= form_tag('/search/processor') do %>
<%= search_field_tag('query', @query) %>&nbsp;&nbsp;<%= submit_tag('Search') %>
<% @checked = true if @anon %> 
<p><%= check_box_tag(:anonymous, @anon , @checked) %>
<%= label_tag(:anonymous, "Check, if your ISP is blocking links from torrent sites") %></p>
<% end %>
</div>
<br>
<hr>
<br>

<div class="nav-bar"><p id="result-h1">Results</p><p id="nav-link"><%= link_to_if(@pid >= '2', '<<Previous Page', page_path(@pid.to_i - 1)) %>&nbsp;&nbsp;<%= link_to 'Next Page>>', page_path(@pid.to_i + 1) %></p></div>
<div class="result-block">
<% @results.each do |result, info| %>
<% info = result.xpath("td[not(@class='vertTh')]") %>
<div class="result-row">
<% @torrentName = info[0].css('a.detLink')[0]['title'].gsub('Details for', "").strip %>
<% @torrentUrl = info[0].css('a.detLink')[0]['href'] unless @anon %>
<p><%= link_to_unless(@anon, @torrentName, @torrentUrl) %>&nbsp;&nbsp;<a id="mag-link" href="<%= info[0].css('.detName+ a')[0]['href'] %>">Magnet Link</a></p> 

<p><span id="tor-info"><%= info[0].css('font.detDesc')[0].text %></span>&nbsp;&nbsp;<span id="peer-stats">Seeders: <%= info[1].text %>&nbsp;&nbsp;Leechers: <%= info[2].text %></span></p>
</div>
<% end %>
</div>